
body {
  background-color:#ffffff;
  font-family: "Alan Sans", sans-serif;
  color: #000000;
  margin:0px;

}
header.primary{
  background:#0b6000;
  color:#ffffff;
  text-align:center;
  text-shadow: 1px 1px #000000;
  margin: 0;
  padding: 40px;

}

header.primary h1{
font-size:2.4rem;
color:#ffffff; 
margin: 20px 0 0; 
}

nav{
  margin:5px;
}
ul.content{
  color:#000000;
  margin:5px;
  border: 10px solid rgb(14, 62, 0);
  width:fit-content;
  padding:10px;
}

ul.content h2{
  color: #0b6000;
}

ul.content li{
  margin:10px;
}

img.Screenshot {
  height: 25%;
  width: 25%;
  border: 10px solid rgb(16, 68, 0);
  margin: 10px 10px 10px 20px;  
}

h2.reflection{
  width: 50%;
  padding: 10px;
  margin:15px;
}

p.reflection {
  width: 50%;
  padding: 10px;
  border: 5px solid rgb(2, 52, 3);
  margin: 15px;
}

