
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #ffb300;
}

a:active {
  color: #ff7700;
} 

header.primary {
  border: color #000;
  padding: 50px;
  background-color: #000000;
  text-align: center;
  font-size: 35px;
  color: white
}

header.primary h1 {
  font-size: 3.2rem;
  margin: 20px 0;
  position: relative;
}

header.primary h2 {
  font-size: 2rem;
  font-family:  Georgia;
  color:#ffb300
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
  list-style-type: none;
}

/* Section stuff */ 

section.service{
  text-align:center;
  border-style:solid;
  border-width: 5px;
  padding:25px 50px;
  margin:20px 300px;
}

/* Article Stuff */

section.articles{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-content:center;
  text-align: center;
}

article.menu{
  width:33%;
  height:auto;
  border-style:solid;
  border-width: 5px;
  padding:5px;
  margin: 50px;
  text-align:inherit;
}

article.menu img{
  max-width: 100%; 
  height: auto;
}

article.menu img.showcase{
  border: 5px;
  border-color: dimgrey;
}
article.menu figcaption{
  font-size: 10px;
  color:gray;
}

/*Table stuff */


table {
  width: 25px; 
  margin: 25px;
  border-collapse: collapse;
}

th {
  background-color: #000000; /* Teal header color */
  color: #ffffff;
  text-align: center;
  padding: 12px 15px;
}

td {
  padding: 10px 15px;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

tr:hover {
  background-color: #acacac;
}

tr {
  border-bottom: 1px solid #dddddd;
}

caption{
  border-style:solid;
  border-width: 4px;
  padding:15px 25px;
  margin:20px 300px;
}

/* Footer stuff */

footer.details{
  text-align: center;
  color: white;
  background-color: #000;
  padding: 50px;
}