
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header stuff */

header.primary {
  border: color #000;
  padding: 50px;
  background-color: #000000;
  text-align: center;
  font-size: 35px;
  color: white
}

header.primary h1 {
  font-size: 3.2rem;
  margin: 20px 0;
  position: relative;
}

header.primary h2 {
  font-size: 2rem;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

/* Section stuff */ 

section.service{
  text-align:center;
  border-style:solid;
  border-width: 5px;
  padding:25px 50px;
  margin:20px 300px;
}

/* Article Stuff */

section.articles{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-content:center;
  text-align: center;
}

article.menu{
  width:33%;
  height:auto;
  border-style:solid;
  border-width: 5px;
  padding:5px;
  margin: 50px;
  text-align:inherit;
}

article.menu img{
  max-width: 100%; 
  height: auto;
}

article.menu img.showcase{
  border: 5px;
  border-color: dimgrey;
}
article.menu figcaption{
  font-size: 10px;
  color:gray;
}

/*Table stuff */

table, th, td {
  border: 1px solid black;
} 

/* Footer stuff */

footer.details{
  text-align: center;
  color: white;
  background-color: #000;
  padding: 50px;
}